<div class="section title">
    <div class="press-section container">
        <h4>The latest 721 press information available below</h4>
        <p>If you would like to feature 721 app in your article, please contact us at 721journeys@gmail.com</p>
    </div>
</div>
<div class="container mobile-text-alignment">
    <br>
    <div class="row news-item">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
            <a href="https://www.thestar.co.uk/business/start-special-adiam-launches-tinder-tourist-attractions-1345580">
                <img src="../../assets/press/86_Star Logo.jpg">
            </a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-9">
            <h5><a href="https://www.thestar.co.uk/business/start-special-adiam-launches-tinder-tourist-attractions-1345580">The Star</a></h5>
            <p class="font-italic">Dec 2019</p>
            <p>It's been 3 months since launch of 721 app and we've made on it The Sheffield Star's business section</p>
        </div>
    </div>
    <div class="row news-item">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
            <a href="https://sheffield.digital/posts/announcing-sheffield-digital-showcase-5/">
                <img src="../../assets/press/sheffieldDigital.png">
            </a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-9">
            <h5><a href="https://sheffield.digital/posts/announcing-sheffield-digital-showcase-5/">Sheffield Digital</a></h5>
            <p class="font-italic">Dec 2019</p>
            <p>Live interview with Chris Dymond from Sheffield Digital showcasing Sheffield's tech startups, and we're very happy to share our progress so far and our plans for 2020.</p>
        </div>
    </div>
    <div class="row news-item">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
            <a href="https://unltdbusiness.com/natural-entrepreneur-connects-app-users-to-local-events/">
                <img src="../../assets/press/unLTD.jpg">
            </a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-9">
            <h5><a href="https://unltdbusiness.com/natural-entrepreneur-connects-app-users-to-local-events/">unLTD Business</a></h5>
            <p class="font-italic">Sept 2019</p>
            <p>What a pleasure to be part of launchpad's September issue, and thank you Business Sheffield for the continuous support.</p>
        </div>
    </div>
    <div class="row news-item">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
            <a href="https://shefftechparks.com/blog/3">
                <img src="../../assets/press/sheffieldTechParks.png">
            </a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-9">
            <h5><a href="https://shefftechparks.com/blog/3">Sheffield Technology Parks</a></h5>
            <p class="font-italic">July 2019</p>
            <p>Our first article with Katie (Saro Creative); sharing our journey from winning startup weekend to developing 721 app.</p>
        </div>
    </div>
    <br>
</div>