<div class="white">
    <div class="container">
        <h1>Press</h1>
        <div class="container">
            <h2><a href="https://shefftechparks.com/blog/3">Sheffield Technology Park</a></h2>
            <p>
                Our first article and one of the many perks of being part of Sheffield Tech park, to be able to sit down and share what we're doing with Katie (Sero Creative). Our journey from winning  startup weekend to developing 721 app. 
            </p>
            <p>
                "721 is a mobile app which acts as a social discovery tool and stands for ‘7 continents into 1’. The team behind 721 is made up of myself, Alex Yates (Back-end developer) and Bhav Prajapat (Front-end developer)...."
            </p>
            <h2><a href="https://unltdbusiness.com/natural-entrepreneur-connects-app-users-to-local-events/">unLTD Business</a></h2> 
            <p>
                What a pleasure to be part of launchpad's September issue, and thank you to Business Sheffield for the continuous support. 
            </p>
            <p>
                "The key focus for now is the official launch of the 721 app. Moving forward, we will provide guidance for users to take on their future adventures. Whether you have specific locations and dates in mind or want to explore other parts of the world and get an understanding of what is available, we want to help you plan better.
            </p>
        </div>
    </div>
</div>