.white {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    background-color: white;
    color: #FF6E6E;
}

.red {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    background-color: #FF6E6E;
    color: white;
}

.fitted-img {
    align-items: center;
    width: 75%;
    height: auto;
}
