.mobile-text-alignment {
    @media (max-width: 576px) {
        text-align: center;
    } 
    @media (min-width: 576px) {
        text-align: left;
    }
}

.section {
    padding-top: 112px;
    padding-bottom: 112px;
    @media (max-width: 768px) {
        min-height: 100vh;
    }
    @media (min-width: 768px) and (max-width: 992px) {
        min-height: 100vh;
    }
    @media (min-width: 992px) and (max-width: 1200px) {
        min-height: 100vh;
    }
    @media (min-width: 1200px) {
        min-height: 100vh;
    }
}
.title {
    background-image: url('../../assets/aboutUsBg.jpg');
    max-width: 100%;

    color: #ffffff;
    background-size:  cover;            
    background-repeat: no-repeat;
    background-position: center center; 
}
.fitted-img {
    align-items: center;
    width: 100%;
}
.about-us-section {
    @media (min-width: 768px) {
        position: absolute;
    }
    transition: all 0.25s ease;
    text-align: center;
    padding: 20px;
    background-color: rgba(150,150,150,0.6);
    margin-bottom: 20px;
    width: 100%;
}
.our-story {
    font-family: 'Bradley Hand';
}

.our-vision {
    font-family: 'Impact';
}