    <div class="white section">
        <div class="container">
            <div class="row d-block">
                <h1 class="text-center">721 Team</h1>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <h2 class="text-center">Our Story</h2>
                    <hr>
                    <p>WINNERS OF STARTUP WEEKEND SHEFFIELD (2019), 721 (seven continents into one) is born out of frustration and lack of tools available to cure our desire for new experiences in OUR local areas and also when we travel. We refuse to waste any more time looking for experiences that should be easily and effortlessly accessible. We are a driven team of entrepreneurs (Adiam, Alex and Bhav) who have a passion for creating something new, and inspired by new experiences that fuel who we are.</p>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <h2 class="text-center">Our Vision</h2>
                    <hr>
                    <p>We want to do more, see more, and experience more by making the most of what each city has to offer. We put the user at the heart of everything we do, informing them about fun experiences with other like minded individuals, inspiring ideas on what to see and do in their local homes, and also when they travel. We welcome you to join us on our mission of finding something that’s different and exciting at all times.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="red section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <img class="fitted-img" src="../../assets/aboutusTeamPhoto.png">
                </div>
            <div class="mobile-text-alignment col-xs-12 col-sm-6 col-md-8">
                <h2 class="">June</h2>
                <hr>
                <p>Working hard or hardly working? Our appreciation for coffee and work goes hand in hand. </p>
                <p>(or tea, if you're Bhav *insert two sad face emojis*)</p>
                <p>Location: Tamper Coffee</p>
            </div>
        </div>
    </div>
</div>