<div class="console">
    <div class="container">
        <h1>Team Console</h1>
        <app-sign-in *ngIf="!signedIn"></app-sign-in>
        <div *ngIf="signedIn">
            <div class="row">
                <div class="col-12">
                    <button routerLink="/team/requested-events" class="col-4 btn btn-success requested-events">Requested Events Panel</button>
                    <button routerLink="/team/tag-center" class="col-4 btn btn-success tag-center">Tag Panel</button>
                    <button routerLink="/team/messages" class="col-4 btn btn-success messages">Messages</button>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-12 mobile-text-alignment">
                    <h2>Send a message to partners</h2>
                </div>
            </div>
            <form [formGroup]="addMessageForm" (ngSubmit)="onAddMessage(addMessageForm.value)">
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-10">
                        <input formControlName="message" type="text" class="form-control" id="message" placeholder="Enter message">
                    </div>
                    <div class="form-group col-xs-12 col-sm-2">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-12">
                    <h3 class="no-bottom-margin mobile-text-alignment">Messages:</h3>
                </div>
            </div>
            <hr>
            <div *ngFor="let message of teamMessages">
                <div class="row mobile-text-alignment">
                    <div class="col-8">
                        <p>{{message.timestamp}}</p>
                    </div>
                    <div class="col-4">
                        <button class="btn btn-danger deleteBtn" (click)="removeMessage(message.id)">Delete</button>                        
                    </div>
                </div>
                <p class="mobile-text-alignment">{{message.message}}</p>
                <hr>
            </div>
            <br>
            <div class="row">
                <p class="col-3 text-center">Total number of swipes: {{swipes}}</p>
                <p class="col-3 text-center">Total number of events: {{events}}</p>
                <p class="col-3 text-center">Total number of partners: {{partners}}</p>
                <p class="col-3 text-center">Total number of users: {{users}}</p>
            </div>
            <div class="row charts">
                <div id="eventSourcesChart" class="col-xs-12 col-sm-12 col-md-12 col-lg-6"></div>
                <div id="swipeChart" class="col-xs-12 col-sm-12 col-md-12 col-lg-6"></div>
            </div>
        </div>
    </div>
</div>