<div class="container">
<h1>Team Console</h1>
<app-sign-in *ngIf="!signedIn"></app-sign-in>
<div *ngIf="signedIn">
    <div class="row">
        <button  routerLink="/team/requested-events" class="col-4 btn btn-success requested-events">Requested Events Panel</button>
        <button routerLink="/team/tag-center" class="col-4 btn btn-success tag-center">Tag Panel</button>
        <button routerLink="/team/messages" class="col-4 btn btn-success messages">Messages</button>
    </div>
    <div class="row">
        <p class="col-3 text-center">Total number of swipes: {{swipes}}</p>
        <p class="col-3 text-center">Total number of events: {{events}}</p>
        <p class="col-3 text-center">Total number of partners: {{partners}}</p>
        <p class="col-3 text-center">Total number of users: {{users}}</p>
    </div>
    <div class="row">
        <div id="eventSourcesChart" class="col-6"></div>
        <div id="swipeChart" class="col-6"></div>
    </div>
</div>

</div>