.requested-events { 
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.tag-center {
    border-radius: 0;
    border-left: 1px solid rgba(0,0,0,0.125);
    border-right: 1px solid rgba(0,0,0,0.125);
}
.messages {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}