<div class="pink">
<div class="container">
<div class="row">
    <div class="col-3">
        <h2>721</h2>
    </div>
    <div class="col-3">
        <h3>Links</h3>
        <hr>
        <ul>
            <li><a routerLink="/" >Home</a></li>
            <li><a routerLink="/about-us">About</a></li>
            <li><a routerLink="/press" >Press</a></li>
            <li><a routerLink="/become-a-partner" >Partner</a></li>
            <li><a routerLink="/contact-us">Contact</a></li>
        </ul>
    </div>
    <div class="col-3">
        <h3>About</h3>
        <hr>
        <p>721journeys@gmail.com</p>
        <p>Cooper Project, Sheffield Tech Park</p>
        <p><a>Privacy Policy</a></p>
    </div>
    <div class="col-3">
        <h3>Social</h3>
        <hr>
    </div>
</div>
</div>
</div>