<div class="pink">
<br>
<div class="container">
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
        <h3>721</h3>
        <hr>
        <a title='Get it on Google Play' href='https://play.google.com/store/apps/details?id=com.travel721&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/></a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <h3>Links</h3>
        <hr>
        <ul>
            <li><a routerLink="/" >Home</a></li>
            <li><a routerLink="/about-us">About</a></li>
            <li><a routerLink="/press" >Press</a></li>
            <li><a routerLink="/become-a-partner" >Partner</a></li>
            <li><a routerLink="/contact-us">Contact</a></li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <h3>About Us</h3>
        <hr>
        <p>721journeys@gmail.com</p>
        <p>Cooper Project, Sheffield Tech Park</p>
        <p><a>Privacy Policy</a></p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <h3>Social</h3>
        <hr>
    </div>
</div>
</div>
</div>