<nav class="navbar fixed-top navbar-expand-md navbar-dark  bg-gradient">
    <a routerLink="/" class="navbar-brand" href="#">721</a>
    <button class="navbar-toggler d-lg-none"  type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarsExampleDefault" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" ></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarsExampleDefault" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a routerLink="/about-us" class="nav-link" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a routerLink="/press" class="nav-link" href="#">Press</a>
          </li>
          <li class="nav-item">
            <a routerLink="/become-a-partner" class="nav-link" href="#">Become a partner</a>
          </li>
          <li class="nav-item">
            <a routerLink="/contact-us" class="nav-link" href="#">Contact Us</a>
          </li>
      </ul>
      <ul class="nav navbar-nav  navbar-right">
          <li class="nav-item">
            <a *ngIf="!companyName" class="nav-link" routerLink="/become-a-partner">Login</a>
            <a *ngIf="companyName" class="nav-link">Welcome back: {{companyName}}</a>
          </li>
          <li class="nav-item" *ngIf="companyName">
              <a class="col-2 signOut nav-link" (click)="signOut()">Sign out</a>
          </li>
      </ul>
    </div>
  </nav>