img {
    width: 75%;
}


h3, h4 {
    color: #707070;
}
@media (min-width: 576px) {
    .scroll-horizontal {
        overflow: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: auto;
        padding-bottom: 20px;
    }
}
.event {
    display: inline-block;
    white-space: normal;
    vertical-align: text-top;
}

img {
    width: 100%;
}