<div class="journey">
    <div class="row d-block text-center bottom-padding">
        <h1 class="text-center">721's Journey</h1>
    </div>
    <div class="scroll-horizontal align-items-start">
        <div class="col-xs-12 col-sm-3 col-md-2 event text-center align-self-start">
            <hr class="d-xs-block d-sm-none">
            <h3>Jan / Feb (2019)</h3>
            <hr class="d-none d-sm-block">
            <p><b>Cooper program, Sheffield Tech Park</b></p>
            <img src="../../assets/journey/cooper.png">
        </div>
        <div class="col-xs-12 col-sm-3 col-md-2 event text-center align-self-start">
            <hr class="d-xs-block d-sm-none">
            <h3>April</h3>
            <hr class="d-none d-sm-block">
            <p><b>WINNERS of Startup Weekend 2019</b></p>
            <img src="../../assets/journey/startupWeekend.png">
        </div>
        <div class="col-xs-12 col-sm-3 col-md-2 event text-center align-self-start">
            <hr class="d-xs-block d-sm-none">
            <h3>May</h3>
            <hr class="d-none d-sm-block">
            <p><b>New Team formed!</b></p>
            <img src="../../assets/aboutusTeamPhoto.jpeg">

        </div>
        <div class="col-xs-12 col-sm-3 col-md-2 event text-center align-self-start">
            <hr class="d-xs-block d-sm-none">
            <h3>June</h3>
            <hr class="d-none d-sm-block">
            <p><b>Kollider Working space</b></p>
            <img src="../../assets/journey/kollider.png">
        </div>
        <div class="col-xs-12 col-sm-3 col-md-2 event text-center align-self-start">
            <hr class="d-xs-block d-sm-none">
            <h3>July / August</h3>
            <hr class="d-none d-sm-block">
            <p><b>Beta release</b></p>
            <img src="../../assets/journey/review.png">
            
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 event text-center align-self-start">
            <hr class="d-xs-block d-sm-none">
            <h3>September</h3>
            <hr class="d-none d-sm-block">
            <div class="col-xs-12 col-sm-6 event">
                <p><b>Launch! 721 app available on Google Play Store!</b></p>
                <a href='https://play.google.com/store/apps/details?id=com.travel721&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                    <img src="../../assets/teamNight.jpeg">                
                </a>   
            </div>
            <hr class="d-xs-block d-sm-none">
            <div class="col-xs-12 col-sm-6 event">
                <p><b>721App featured in unLTD magazine (Sept Issue)</b></p>
                <a routerLink="/press">
                    <img src="../../assets/journey/unltd.jpg">
                </a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-2 event text-center align-self-start">
            <hr class="d-xs-block d-sm-none">
            <h3>October</h3>
            <hr class="d-none d-sm-block">
            <p><b>NEW 721 partners: Oakley Crafts and Twiddle Food join!</b></p>
            <img src="../../assets/journey/newPartners.jpg">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 event text-center align-self-start">
            <hr class="d-xs-block d-sm-none">
            <h3>November</h3>
            <hr class="d-none d-sm-block">
            <div class="col-xs-12 col-sm-4 event">
                <p><b>NEW 721 Team member! Simon joins the Team</b></p>
                <img src="../../assets/journey/newTeamMember.jpg">
            </div>
            <hr class="d-xs-block d-sm-none">
            <div class="col-xs-12 col-sm-4 event">
                <p><b>Back at Tech Startup weekend to share our winning story!</b></p>
                <img src="../../assets/journey/backat.jpg">
            </div>
            <hr class="d-xs-block d-sm-none">
            <div class="col-xs-12 col-sm-4 event">
                <p><b>Big update to the 721 app!</b></p>
                <img src="../../assets/journey/update721.png">
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 event text-center align-self-start">
            <hr class="d-xs-block d-sm-none">
            <h3>December</h3>
            <hr class="d-none d-sm-block">
            <div class="col-xs-12 col-sm-4 event">
                <p><b>Sheffield Digital Winter Showcase</b></p>
                <img src="../../assets/journey/digital.jpg">
            </div>
            <hr class="d-xs-block d-sm-none">
            <div class="col-xs-12 col-sm-4 event">
                <p><b>721 App Featured in the Sheffield Star</b></p>
                <a routerLink="/press">
                    <img src="../../assets/journey/star.jpg">
                </a>
            </div>
            <hr class="d-xs-block d-sm-none">
            <div class="col-xs-12 col-sm-4 event">
                <p><b>Merry Christmas from all of us at 721!</b></p>
                <img src="../../assets/journey/christmas.jpg">
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 event text-center align-self-start">
            <hr class="d-xs-block d-sm-none">
            <h3 class="current">January (2020)</h3>
            <hr class="d-none d-sm-block">
            <div class="col-xs-12 col-sm-6 event">
                <p><b>NEW and EXCITING website for 721</b></p>
                <img src="../../assets/journey/newWebpage.jpg">
            </div>
            <hr class="d-xs-block d-sm-none">
            <div class="col-xs-12 col-sm-6 event">
                <p><b>Big Update to our 721 app!</b></p>
                <a href='https://play.google.com/store/apps/details?id=com.travel721&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                    <img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'>
                </a>   
            </div>
        </div>
    </div>
</div>