h1, h3, h4 {
    color: #707070;
}
.current {
    color: #FF6E6E !important;
}
@media (min-width: 576px) {
    .scroll-horizontal {
        overflow: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: auto;
        padding-bottom: 20px;
    }
}
.event {
    display: inline-block;
    white-space: normal;
    vertical-align: text-top;
}
.journey {
    padding-top: 56px;
    padding-bottom: 56px;
}
img {
    width: 100%;
}