<div class="scroll-horizontal align-items-start">
    <div class="col-xs-12 col-sm-3 col-md-2 event text-center align-self-start">
        <hr class="d-xs-block d-sm-none">
        <h3>Jan / Feb</h3>
        <hr class="d-none d-sm-block">
        <p><b>Cooper program, Sheffield Tech Park</b></p>
        <img src="../../assets/journey/cooper.png">
    </div>
    <div class="col-xs-12 col-sm-3 col-md-2 event text-center align-self-start">
        <hr class="d-xs-block d-sm-none">
        <h3>April</h3>
        <hr class="d-none d-sm-block">
        <p><b>WINNERS of Startup Weekend 2019</b></p>
        <img src="../../assets/journey/startupWeekend.png">
    </div>
    <div class="col-xs-12 col-sm-3 col-md-2 event text-center align-self-start">
        <hr class="d-xs-block d-sm-none">
        <h3>May</h3>
        <hr class="d-none d-sm-block">
        <p><b>New Team formed!</b></p>
        <img src="../../assets/aboutusTeamPhoto.jpeg">

    </div>
    <div class="col-xs-12 col-sm-3 col-md-2 event text-center align-self-start">
        <hr class="d-xs-block d-sm-none">
        <h3>June</h3>
        <hr class="d-none d-sm-block">
        <p><b>Kollider Working space</b></p>
        <img src="../../assets/journey/kollider.png">
    </div>
    <div class="col-xs-12 col-sm-3 col-md-2 event text-center align-self-start">
        <hr class="d-xs-block d-sm-none">
        <h3>July / August</h3>
        <hr class="d-none d-sm-block">
        <p><b>Beta release</b></p>
        <img src="../../assets/journey/review.png">
        
    </div>
    <div class="col-xs-12 col-sm-3 col-md-2 event text-center align-self-start">
        <hr class="d-xs-block d-sm-none">
        <h3>September</h3>
        <hr class="d-none d-sm-block">
        <p><b>Launch!</b></p>
        <img src="../../assets/teamNight.jpeg">
    </div>
    <div class="col-xs-12 col-sm-3 col-md-2 event text-center align-self-start">
        <hr class="d-xs-block d-sm-none">
        <h3>October</h3>
        <hr class="d-none d-sm-block">
        <p><b>NEW 721 partners: Oakley Crafts and Twiddle Food join!</b></p>
        <img src="../../assets/journey/newPartners.jpg">
    </div>
    <div class="col-xs-12 col-sm-3 col-md-2 event text-center align-self-start">
        <hr class="d-xs-block d-sm-none">
        <h3 class="current">November</h3>
        <hr class="d-none d-sm-block">
        <p><b>NEW 721 Team member! Simon joins the Team</b></p>
        <img src="../../assets/journey/newTeamMember.jpg">
    </div>
</div>