<div class="row">
    <div class="col-xs-6 col-sm-4 col-md-2 text-center">
        <hr class="d-xs-block d-sm-none">
        <h3>February</h3>
        <hr class="d-none d-sm-block">
        <h4>Sheffield</h4>
        <p><b>Cooper program, Sheffield Tech Park</b></p>
        <img src="../../assets/journey/cooper.png">
    </div>
    <div class="col-xs-6 col-sm-4 col-md-2 text-center">
        <hr class="d-xs-block d-sm-none">
        <h3>April</h3>
        <hr class="d-none d-sm-block">
        <h4>Sheffield</h4>
        <p><b>WINNERS of Startup Weekend 2019</b></p>
        <img src="../../assets/journey/startupWeekend.png">

    </div>
    <div class="col-xs-6 col-sm-4 col-md-2 text-center">
        <hr class="d-xs-block d-sm-none">
        <h3>May</h3>
        <hr class="d-none d-sm-block">
        <h4>Sheffield</h4>
        <p><b>New Team formed!</b></p>
        <img src="../../assets/journey/newTeam.png">

    </div>
    <div class="col-xs-6 col-sm-4 col-md-2 text-center">
        <hr class="d-xs-block d-sm-none">
        <h3>June</h3>
        <hr class="d-none d-sm-block">
        <h4>Sheffield</h4>
        <p><b>Kollider Working space</b></p>
        <img src="../../assets/journey/kollider.png">

    </div>
    <div class="col-xs-6 col-sm-4 col-md-2 text-center">
        <hr class="d-xs-block d-sm-none">
        <h3>July</h3>
        <hr class="d-none d-sm-block">
        <h4>Sheffield</h4>
        <p><b>Beta release</b></p>
        <img src="../../assets/journey/review.png">
        
    </div>
    <hr>
    <div class="col-xs-6 col-sm-4 col-md-2 text-center">
        <hr class="d-xs-block d-sm-none">
        <h3>August</h3>
        <hr class="d-none d-sm-block">
        <h4>Sheffield</h4>
        <p><b>Launch!</b></p>
        <img src="../../assets/teamNight.jpeg">
    </div>
</div>