<button class="btn addListing" (click)="toggleAddListing()">+ Add Listing</button>
<div *ngIf="addListingDisplay">
  <add-listing></add-listing>
  <hr>
</div>
<div *ngFor="let el of requestedEvents">
  <div *ngIf="viewEvent == el.id">
    <div class="row">
        <div class="col-8">
          <h3>{{el.name}}</h3>
          <p>{{el.eventSourceId}}</p>
          <div class="row">
            <p class="col-6">{{el.venueName}}</p>
            <p class="col-3">{{el.venueLat}}</p>
            <p class="col-3">{{el.venueLong}}</p>
          </div>
          <a href={{el.link}}>{{el.link}}</a>
          <p>{{el.description}}</p>
          <div class="row">
            <p class="col-3">{{el.date}}</p>
            <p class="col-3">{{el.time}}</p>
            <p class="col-3">{{el.minAge}}</p>
          </div>
          <p>{{el.email}}</p>
        </div>
        <div class="col-4">
          <img src={{el.image}}>
        </div>
    </div>
    <hr>
  </div>
  <div *ngIf="editEvent == el.id">
    <form [formGroup]="editListingForm" (ngSubmit)="editListing(editListingForm.value, el.eventSourceId)">
        <div class="form-group">
            <label for="eventName">Event name:</label>
            <input formControlName="eventName"  type="text" class="form-control" id="eventName" value="{{el.name}}">
        </div>
        <div class="form-group">
            <label for="venueName">Venue name:</label>
            <input formControlName="venueName"  type="text" class="form-control" id="venueName" value="{{el.venueName}}">
        </div>
        <div class="form-group">
            <label for="venueAddress">Venue address:</label>
            <input formControlName="venueAddress"  type="text" class="form-control" id="venueName">
        </div>
        <div class="form-group">
            <label for="eventDescription">Event description:</label>
            <input formControlName="eventDescription" type="text" class="form-control" id="eventDescription" value="{{el.description}}">
        </div>
        <div class="form-group ">
            <label for="eventLink">Event link:</label>
            <input formControlName="eventLink"  type="text" class="form-control" id="eventLink" value="{{el.link}}">
        </div>
        <div class="form-group ">
            <label for="eventImageUrl">Image:</label>
            <input formControlName="eventImageUrl" type="text" class="form-control" id="eventImageUrl" aria-describedby="imageUrlHelp" value="{{el.image}}">
            <small id="imageUrlHelp" class="form-text text-muted">If you can't see an image in the card's thumbnail below your image hasn't been uploaded properly.</small>
        </div>
        <div class="form-group">
            <label for="eventDate">Event date:</label>
            <input formControlName="eventDate"  type="date" class="form-control" id="eventDate" value="{{el.date}}">
        </div>
        <div class="form-group">
            <label for="eventTime">Event time:</label>
            <input formControlName="eventTime" type="time" class="form-control" id="eventTime" value="{{el.time}}">
        </div>
        <div class="form-group">
            <label for="eventPrice">Event price:</label>
            <input formControlName="eventPrice"  type="text" class="form-control" id="eventPrice" value="{{el.price}}">
        </div>
        <div class="form-group">
            <label for="eventPrice">Event minAge:</label>
            <input formControlName="eventMinAge" type="text" class="form-control" id="eventMinAge" value="{{el.minAge}}">
        </div>
        <button type="submit" class="btn btn-primary col-12">Submit</button>
        <hr>
        </form>
      </div>
</div>
<div class="card-column">
    <div *ngFor="let event of requestedEvents">
        <div class="card">
            <img class="card-img-top" src={{event.image}}>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <h5 class="card-title">{{event.name}}</h5> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <ul class="list-unstyled">
                            <li><p class="text-muted">{{event.venueName}}</p></li>
                            <li><p class="text-muted">{{event.date}} {{event.time}}</p></li>
                            <li><p class="text-muted">{{event.price}}</p></li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <p class="card-text">{{event.description}}</p>
                    </div>
                </div>
                <h5 *ngIf="event.tag">Tags:</h5>
                <span class="badge badge-info" *ngFor="let tag of event.tag">
                    {{tag}}
                </span>
            </div>
            <div class="event-status bg-{{event.status}}">
                <h5 class="text-center">{{event.status}}</h5>
            </div>
            <div *ngIf="event.status == 'Accepted'" class="container">
                <p>Total swipes: {{event.swipes}}</p>
                <div class="container">
                    <p>Swipes yes: {{event.swipesYes}}</p>
                    <p>Swipes no: {{event.swipesNo}}</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                  <div class="col">
                    <button class="btn btn-info viewDelete" (click)="toggleView(event.id)">View</button>
                  </div>
                  <div *ngIf="event.status == 'Pending'" class="col">
                    <button class="btn btn-warning viewDelete" (click)="toggleEdit(event.id)">Edit</button>
                  </div>
                  <div class="col">
                    <button class="btn btn-danger viewDelete" (click)="removeEvent(event.id)">Delete</button>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="requestedEvents.length == 0" class="helperText text-center">
    <h1>It looks like you haven't submitted any events!</h1>
    <h2>Click the '+ Add Listing' button above to get started</h2>
    <h2>Once you've submitted your event it will be sent to our team to review</h2>
</div>