<button class="btn">+ Add Listing</button>
<table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Date</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Fresher's Week</th>
            <td>10/2/2019</td>
            <td>Approved</td>
          </tr>
          <tr>
            <th scope="row">Fresher's Week</th>
            <td>10/2/2019</td>
            <td>Approved</td>
          </tr>
          <tr>
            <th scope="row">Fresher's Week</th>
            <td>10/2/2019</td>
            <td>Approved</td>
          </tr>
        </tbody>
      </table>