.btn {
    border-color: #FF6E6E;
}
.btnSelected {
    background-color: #FF6E6E;
    color: white;
    padding-top: 6px;
    padding-bottom: 6px;
}
.webportal {
    min-height: 100vh;
    padding-top: 75px;
    padding-bottom: 56px;
    background-image: url('../../assets/teamBg.jpg');
    max-width: 100%;
    color: #545454;
    background-attachment: fixed;
    background-size:  cover;            
    background-repeat: no-repeat;
    background-position: center center; 
}
.container {
    background-color: #ffffff;
    padding: 15px;
}
ul {
    list-style-type:none;
}

.acceptReject{
    .btn {
       border: none;
    }
}

img {
    max-width: 100%;
}

.signOut p{
    margin-top: 5px;
    text-align: right;
    color: #ff6e6e;
}

.pending {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.accepted {
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px;
}
.rejected {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}