.btn {
    border-color: #FF6E6E;
}

.btnSelected {
    background-color: #FF6E6E;
    color: white;
}

ul {
    list-style-type:none;
}

.acceptReject{
    .btn {
       border: none;
    }
}

img {
    max-width: 100%;
}