.btn {
    border-color: #FF6E6E;
}

.btnSelected {
    background-color: #FF6E6E;
    color: white;
}

.signOut p{
    text-align: right;
    color: #ff6e6e;
}

.signOut p:hover{
    text-decoration: underline;
}

.my721 {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.profile {
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px;
}
.contactUs {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}