.btn {
    border-color: #FF6E6E;
    transition: all 0.5s ease;
}
.partners {
    padding-top: 75px;
    padding-bottom: 56px;
    background-image: url('../../assets/partnersLoginBackground.jpg');
    max-width: 100%;
    color: #545454;
    background-attachment: fixed;
    background-size:  cover;            
    background-repeat: no-repeat;
    background-position: center center; 
}
.bordered {
    padding: 15px;
    background-color: #ffffff;
}
.btnSelected {
    background-color: #FF6E6E;
    border: 1px solid #545454;
    color: white;
    padding-top: 6px;
    padding-bottom: 6px;
}

.signOut p{
    text-align: right;
    color: #ff6e6e;
}

.team-message {
    margin: 5px;
    padding: 5px;
  }
  
.signOut p:hover{
    text-decoration: underline;
}

.my721 {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.profile {
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px;
}
.contactUs {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

