.btn {
    border-color: #FF6E6E;
}

.btnSelected {
    background-color: #FF6E6E;
    color: white;
}

.signOut p{
    text-align: right;
    color: #ff6e6e;
}

.signOut p:hover{
    text-decoration: underline;
}