<div class="body">
<div class="row">
        <div class="col-6"><p><b>Company Name</b></p></div>
        <div class="col-6"><p>{{companyName}}</p></div>
</div>
<div class="row">
    <div class="col-6"><p><b>Location</b></p></div>
    <div class="col-6"><p>{{location}}</p></div>
</div>
<div class="row">
    <div class="col-6"><p><b>Type of service</b></p></div>
    <div class="col-6"><p>{{typeOfService}}</p></div>
</div>
<hr>
<div class="row">
    <div class="col-6"><p><b>Change password</b></p></div>
    <input class="col-6" type="password">
</div>
<div class="row">
    <div class="col-6"><p><b>Confirm change password</b></p></div>
    <input class="col-6" type="password">
</div>
<div class="row">
    <div class="col-6"></div>
    <button class="col-6 btn-success">Confirm</button>
</div>
</div>