<div class="body">
    <form [formGroup]="editCompanyNameForm" (ngSubmit)="editCompanyName(editCompanyNameForm.value)">
        <div class="row">
            <div class="mobile-text-alignment form-group col-xs-12 col-sm-4">
                <b>Company Name</b>
            </div>
            <div class="form-group col-xs-12 col-sm-4">
                <input type="text" class="form-control" formControlName="companyName" placeholder="{{companyName}}">
            </div>
            <div class="form-group col-xs-12 col-sm-4">    
                <button class="btn btn-outline-warning" type="submit">Save</button>
            </div>
        </div>
    </form>
    <hr class="d-xs-block d-sm-none">
    <form [formGroup]="editLocationForm" (ngSubmit)="editLocation(editLocationForm.value)">
        <div class="row">
            <div class="mobile-text-alignment form-group col-xs-12 col-sm-4">
                <b>Location</b>
            </div>
            <div class="form-group col-xs-12 col-sm-4">
                <input type="text" class="form-control" formControlName="location" placeholder="{{location}}">
            </div>
            <div class="form-group col-xs-12 col-sm-4">
                <button class="btn btn-outline-warning" type="submit">Save</button>
            </div>
        </div>
    </form>
    <hr class="d-xs-block d-sm-none">
    <form [formGroup]="editTypeOfServiceForm" (ngSubmit)="editTypeOfService(editTypeOfServiceForm.value)">
        <div class="row">
            <div class="mobile-text-alignment form-group col-xs-12 col-sm-4">
                <b>Type of Service</b>
            </div>
            <div class="form-group col-xs-12 col-sm-4">
                <input type="text" class="form-control" formControlName="typeOfService" placeholder="{{typeOfService}}">
            </div>
            <div class="form-group col-xs-12 col-sm-4">
                <button class="btn btn-outline-warning" type="submit">Save</button>
            </div>
        </div>
    </form>
    <hr class="d-xs-block d-sm-none">
    <form [formGroup]="editLogoForm" (ngSubmit)="editLogo(editLogoForm.value)">
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4">
                <p><b>Company Logo</b></p>
            </div>
            <div class="form-group col-xs-12 col-sm-4">
                <input type="text" class="form-control" formControlName="logoImageUrl" placeholder="{{logoImageUrl}}">
            </div>
            <div class="form-group col-xs-12 col-sm-4">
                <button class="btn btn-outline-warning" type="submit">Save</button>
            </div>
        </div>
    </form>
<hr>
<form [formGroup]="changePasswordForm" (ngSubmit)="changePassword(changePasswordForm.value)">
    <h2>Change Password</h2>
<div class="row">
    <div class="col-6"><p><b>Current password</b></p></div>
    <input class="col-6" formControlName="currentPassword" type="password">
</div>
<div class="row">
    <div class="col-6"><p><b>New password</b></p></div>
    <input class="col-6" formControlName="newPassword" type="password">
</div>
<div class="row">
        <div class="col-6"><p><b>Confirm new password</b></p></div>
        <input class="col-6" formControlName="confirmNewPassword" type="password">
    </div>
<div class="row">
    <div class="col-6"></div>
    <button class="col-6 btn-success" type="submit">Confirm</button>
</div>
</form>
</div>