<div class="container">
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>From</th>
                <th>Subject</th>
                <th>Message</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tr *ngFor="let message of messages">
            <td>{{message.timeStamp | date : 'MMMM d h:mm'}}</td>
            <td>{{message.email}}</td>
            <td>{{message.subject}}</td>
            <td>{{message.data}}</td>
            <td> <button class="btn btn-danger viewDelete" (click)="removeMessage(message.id)">Delete</button></td>
        </tr>
    </table>
</div>