<div class="row">
    <div class="col-6">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/hcuRr5wT4tQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-6">
        <p>There is no "waffle" (it’s clear + concise) with 721 app. It's slick, quick to use and has all the relevant information, with a very easy decision making process.</p>
        <h2>Pete</h2>
        <h4>Sheffield Technology Parks</h4>
    </div>
</div>