<div class="row">
    <div class="embed-responsive embed-responsive-16by9 col-xs-12 col-sm-12 col-md-6">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/hcuRr5wT4tQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6">
        <p>There is no "waffle" (it’s clear + concise) with 721 app. It's slick, quick to use and has all the relevant information, with a very easy decision making process.</p>
        <h2 class="text-muted">Pete</h2>
        <h4 class="text-muted">Sheffield Technology Parks</h4>
    </div>
</div>