h2 img {
    height: 2em;
}

.title {
    padding-top: 5%;
    background-image: url('../../assets/titleBgImage.png');
    height: 30em;
    color: white;
    background-size:  cover;            
    background-repeat: no-repeat;
    background-position: center center; 
}
.white {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    background-color: white;
    color: #FF6E6E;
}

.red {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    background-color: #FF6E6E;
    color: white;
}

.pink {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    background-color: #FEDADA;
    color: #545454;
}