<div>
        <div class="title section text-center">
            <div class="container">
                <h1>New experiences at your fingertips.</h1>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-xs-12 col-sm-6 col-md-3 ">
                        <h2>Try it now, it's <b>free</b></h2>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <h2>
                            <a href='https://play.google.com/store/apps/details?id=com.travel721&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/></a>            
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="white container app-intro">
            <div class="row d-block">
                <h1 class="text-center">721</h1>
            </div>
            <div class="row d-block">
                <p class="text-center">New Social Discovery app for nearby events & experiences based on your interests.</p>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="demo">

                    </div>        
                </div>
                <br class="d-xs-block d-none">
                <div class="col-xs-12 col-sm-4">
                    <div class="demo">

                    </div>
                </div> 
                <div class="col-xs-12 col-sm-4">
                    <div class="demo">
                        
                    </div>
                </div> 
            </div>
        </div>
        <div class="white d-flex reviews">
            <div class="container">
                <hr>
                <div class="row d-block">
                    <h2 class="text-center">What people say about 721</h2>
                </div>
                <br>
                <reviews></reviews>
            </div>
        </div>
        <div class="tryNow d-flex white mobile-text-alignment">
            <div class="container">
                <hr>
                <div class="row d-block">
                    <h2 class="text-center">Work with us</h2>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-12 col-sm-6"><h3>Become a partner</h3></div>
                    <div class="col-xs-12 col-sm-6">
                        <p>Interested in using 721 App to promote your events? Or is it travel related experiences? Sign up to try out our platform made for 721 partners.</p>
                        
                        <p>Try it now for free: <strong><a routerLink="/become-a-partner">Sign Up -></a></strong></p>
                        
                    </div>
                </div>
                <hr>
                <br>
                <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <h3>Try out the App! It's free!</h3>
                    <h4><a href='https://play.google.com/store/apps/details?id=com.travel721&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/></a></h4>
                    <hr class="d-xs-block d-sm-none">
                </div>
                <div class="col-xs-12 col-sm-6">
                    <h3>iPhone user? Not to worry.</h3>
                    <p>Sign up for early release</p>
                    <form>
                        <div class="form-group">
                            <label for="iphoneEmail">Email address</label>
                            <div class="row">
                            <input type="email" class="form-control col-xs-12 col-sm-10 mb-10" id="iphoneEmail" aria-describedby="emailHelp" placeholder="Enter email">
                            <button type="submit" (click)=contactUs() class="btn btn-danger col-xs-12 col-sm-2 mb-2">Submit</button>
                            </div>
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                    </form>
                </div>
            </div>
            </div>
        </div>
    </div>