<div>
        <div class="title text-center">
            <div class="container">
            <h1>New experiences at your fingertips.</h1>
            <h2>Try it now, it's <b>free</b><a href='https://play.google.com/store/apps/details?id=com.travel721&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/></a></h2>
            </div>
        </div>
        <div class="container white journey">
            <h1>721 Journey</h1>
            <journey></journey>
        </div>
        <div class="features red text-center">
            <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <h2>01</h2>
                    <hr class="d-none d-sm-block">
                    <h2>EASY</h2>
                    <p>Having trouble finding new and fun things to do? Always going to the same places in your hometown? EXPLORE + DISCOVER new experiences that will cure your boredom. 721 helps you find cool events in bars, restaurants, activities, and more near you so you can step outside the norm and experience something new.                    </p>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <hr class="d-xs-block d-sm-none">
                    <h2>02</h2>
                    <hr class="d-none d-sm-block">
                    <h2>FAST</h2>
                    <p>Our app uses a very simple and easy process of swiping for things you wish to experience, which includes event details like, hours of operation, and directions so you can plan ahead. 
                            We believe new experiences should be easily accessible without wasting time and effort so you NEVER HAVE TO MISS OUT. 
                    </p>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <hr class="d-xs-block d-sm-none">
                    <h2>03</h2>
                    <hr class="d-none d-sm-block">
                    <h2>RELIABLE</h2>
                    <p>Once you have discovered and selected events in your local home, our app will pick up your interests of things you want to discover and TAILOR THE EVENTS that best match your personality on your next swipe. Making it even more CONVENIENT to pick a new experience. So you will never run of fun things to do! </p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-3">
                    <img src="https://image.flaticon.com/icons/svg/126/126470.svg">
                    <p>Find things to do near you</p>
                </div>
                <div class="col-3">
                    <img src="https://image.flaticon.com/icons/svg/149/149431.svg">
                    <p>Discover what’s happening around the world</p>
                </div>
                <div class="col-3">
                    <img src="https://image.flaticon.com/icons/svg/149/149148.svg">
                    <p>Swipe yes for things that excite you</p>
                </div>
                <div class="col-3">
                    <img src="https://image.flaticon.com/icons/svg/131/131917.svg">
                    <p>View event details</p>
                </div>
            </div>
        </div>
        </div>
        <div class="pink reviews">
            <div class="container">
                <reviews></reviews>
            </div>
        </div>
        <div class="tryNow white">
            <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <h2>Try now it's free</h2>
                    <h2><a href='https://play.google.com/store/apps/details?id=com.travel721&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/></a></h2>
                    <hr class="d-xs-block d-sm-none">
                </div>
                <div class="col-xs-12 col-sm-6">
                    <h2>iPhone user? Not to worry.</h2>
                    <p>Sign up for early release</p>
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <div class="row">
                            <input type="email" class="form-control col-xs-12 col-sm-10 mb-10" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                            <button type="submit" class="btn btn-danger col-xs-12 col-sm-2 mb-2">Submit</button>
                            </div>
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                    </form>
                </div>
            </div>
            </div>
        </div>
        <div class="red partner">
            <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6"><h2>Become a partner</h2></div>
                <div class="col-xs-12 col-sm-6">
                    <p>Interested in using 721 App to promote your events? Or is it travel related experiences? Sign up to try out our platform made for 721 partners.</p>
                    <p>Try it now, whilst it's free</p>
                    <a routerLink="/become-a-partner">Sign In/Sign Up</a>
                </div>
            </div>
            </div>
        </div>
    </div>