h2 img {
    height: 3em;
}
.section {
    @media (max-width: 768px) {
        min-height: 100vh;
    }
    @media (min-width: 768px) and (max-width: 992px) {
        min-height: 120vh;
    }
    @media (min-width: 992px) and (max-width: 1200px) {
        min-height: 120vh;
    }
    @media (min-width: 1200px) {
        min-height: 120vh;
    }
    display: flex;
}
.small-section {
    display: flex;
    padding-top: 10vh;
    padding-bottom: 10vh;
}
.no-bottom-margin {
    margin-bottom: 0;
}
.title {
    padding-top: 126px;
    background-image: url('../../assets/titleBgImage.png');
    max-width: 100%;

    color: #ffffff;
    background-size:  cover;            
    background-repeat: no-repeat;
    background-position: center center; 
}

@media (min-width: 576px) {
    .title-center {
        position: relative;
    }
    .centered {
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}
.title h1{
    font-size: 46px;
    font-weight: 600;
    text-align: center;
}
.title h2{
    font-size: 28px;
    font-weight: 300;
    text-align: center;
}

.app-intro h1 {
    font-size: 48px;
}
.demo {
    img {
        width: 100%;
        @media (max-width: 576px) {
            margin-bottom: 20px;
        }
    }
}
.app-intro h2 {
    font-size: 2em;
}
.white {
    @media (max-width: 576px) {
        padding-top: 10%;
        padding-bottom: 10%;
    }
    @media (min-width: 576px) {
        padding-top: 2.5%;
        padding-bottom: 2.5%;
    }
    background-color: white;
    color: #545454;
    a {
        color: #545454;
    }
}
.btn-721 {
    background-color: #FF6E6E;
    a {
        color: #ffffff;
    }
}
.reviews {
    padding-bottom: 0;
}
.reviews h2{
    font-size: 3em;
}

.features img {
    width: 2.5em;
}
.tryNow h2{
    font-size: 3em;
}
.tryNow img{
    width: 80%;
    height: auto;
}

.mobile-text-alignment {
    @media (max-width: 576px) {
        text-align: center;
    } 
    @media (min-width: 576px) {
        text-align: left;
    }
}