h2 img {
    height: 2em;
}
.section {
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.title {
    padding-top: 5%;
    background-image: url('../../assets/titleBgImage.png');
    color: white;
    background-size:  cover;            
    background-repeat: no-repeat;
    background-position: center center; 
}
.title h1{
    font-size: 4em;
}
.title h2{
    font-size: 3em;
}
.journey h1 {
    font-size: 4em;
}
.white {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    background-color: white;
    color: #FF6E6E;
}

.red {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    background-color: #FF6E6E;
    color: white;
}

.pink {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    background-color: #FEDADA;
    color: #545454;
}

.features img {
    width: 2.5em;
}
.tryNow h2{
    font-size: 3em;
}
.tryNow img{
    width: 80%;
    height: auto;
}